


/* Default styling */

a{
    color: #fff !important;
    text-decoration: none;
}

.img-fit{
    object-fit: cover;
}

button{
    border: 0 !important;
}



/* Hero styling */

.Hero{
    height: 100vh;
    background-image: url('../Images/Main-page/hero-cover-one.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
