/* Default styling */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fffdfd;
}
  
::-webkit-scrollbar-thumb{
    background: #B8B8B8;
    border-radius: 10px;
}

.background-black{
    background-color: rgba(0, 0, 0, 0.37);
}

a{
    color: #fff !important;
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}


.fs-8{
    font-size: .9rem !important;
}

.img-fit{
    object-fit: cover;
}

button{
    border: 0 !important;
    background-color: transparent;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-icon-size{
    color:  #ffffffa4;;
    width: 2.5vw;
}

.cart-icon-size{
    color: #ffffffa4;
    width: 2.5vw;
}

.logo a{
    font-size: 1.5rem;
}


/* Hero styling */

.Hero{
    height: 100vh;
    width: 100%;
    background-image: url('../Images/Main-page/hero-cover-one.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Prefall styling */

.prefall{
    min-height: 100vh;
    /* background-color: rgb(0, 0, 0); */
}

.prefall-header{
    height: 15vh;
}

.first-section{
    height: 15vh;
    width: 15%;
    border: 1px solid #3535353b;
}

.first-section p{
    color:#353535e5 ;
}

.second-section{
    height: 15vh;
    width: 70%;
    border: 1px solid #3535353b;
}

.prefall-line{
    color: 3535353b;
}

.prefall-header-button{
    width: 10vw;
    border: 1px solid #3535353b !important;

}

.Third-section{
    height: 15vh;
    width: 15%;
    border: 1px solid #3535353b;

}

.Third-section p{
    color:#353535e5 ;
}


/* Dress content styling */
.prefall-dress-wrapper{
    height: 90vh;
    /* background-color: coral; */
}

.prefall-dress{
    height: 80vh;
    /* background-color: rgb(189, 176, 176); */

}

.prefall-first-dress{
    background-color: #B8B8B8;
}

.text-content{
    height: 80vh;
}

